In [37]:
'''Following nlp guide from https://www.kaggle.com/faressayah/natural-language-processing-nlp-for-beginners'''

#Import required packages

'''We will use pandas for data manipulation and numpy/matplot for plotting results'''

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
#Train set needs to be list of strings. Create function to convert each line (an article) to a list of lists (of strings).

train_doc = open("C:/Users/jtgog/Desktop/UH MSDS Spring 2022/MATH 6397/2-2-2022/Big_Consulting_Firm_V2/data_train.txt", "r")

train = train_doc.read()

train_list = train.splitlines()

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
train_vect = CountVectorizer()

In [40]:
train_vect.fit(train_list)

CountVectorizer()

In [41]:
train_vect.get_feature_names_out()

array(['00', '000', '0007', ..., 'zweighaft', 'zwick', 'zydrunas'],
      dtype=object)

In [42]:
train_dtm = train_vect.transform(train_list)
train_dtm

<2000x38749 sparse matrix of type '<class 'numpy.int64'>'
	with 400937 stored elements in Compressed Sparse Row format>

In [43]:
train_dtm.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [44]:
pd.DataFrame(train_dtm.toarray(), columns=train_vect.get_feature_names_out())

,00,000,0007,0019,0033,005,0091,01,011,01230,...,zug,zuma,zungu,zuri,zurich,zvi,zweig,zweighaft,zwick,zydrunas
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
type(train_dtm)

scipy.sparse.csr.csr_matrix

In [46]:
print(train_dtm)

  (0, 123)	1
  (0, 124)	2
  (0, 228)	1
  (0, 627)	1
  (0, 696)	1
  (0, 779)	1
  (0, 935)	1
  (0, 1006)	1
  (0, 1199)	1
  (0, 1211)	1
  (0, 1878)	3
  (0, 1904)	1
  (0, 2101)	1
  (0, 2117)	1
  (0, 2141)	1
  (0, 2207)	1
  (0, 2390)	1
  (0, 2401)	1
  (0, 2402)	5
  (0, 2415)	2
  (0, 2416)	1
  (0, 2447)	1
  (0, 2565)	1
  (0, 2674)	1
  (0, 2893)	1
  :	:
  (1999, 37012)	2
  (1999, 37406)	1
  (1999, 37472)	7
  (1999, 37546)	1
  (1999, 37558)	13
  (1999, 37616)	1
  (1999, 37630)	1
  (1999, 37701)	6
  (1999, 37748)	3
  (1999, 37766)	3
  (1999, 37768)	1
  (1999, 37782)	1
  (1999, 37835)	1
  (1999, 37839)	2
  (1999, 37932)	1
  (1999, 37966)	1
  (1999, 38061)	5
  (1999, 38238)	1
  (1999, 38258)	1
  (1999, 38469)	1
  (1999, 38472)	7
  (1999, 38493)	4
  (1999, 38561)	7
  (1999, 38575)	1
  (1999, 38718)	1

In [47]:
valid_doc = open("C:/Users/jtgog/Desktop/UH MSDS Spring 2022/MATH 6397/2-2-2022/Big_Consulting_Firm_V2/data_valid.txt", "r")

valid = valid_doc.read()

valid_list = valid.splitlines()

In [48]:
valid_dtm = vect.transform(valid_list)
valid_dtm.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [49]:
pd.DataFrame(valid_dtm.toarray(), columns=vect.get_feature_names_out())

,00,000,0007,0019,0033,005,0091,01,011,01230,...,zug,zuma,zungu,zuri,zurich,zvi,zweig,zweighaft,zwick,zydrunas
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
train_labels_doc = open("C:/Users/jtgog/Desktop/UH MSDS Spring 2022/MATH 6397/2-2-2022/Big_Consulting_Firm_V2/labels_train_original.txt", "r")

valid_labels_doc = open("C:/Users/jtgog/Desktop/UH MSDS Spring 2022/MATH 6397/2-2-2022/Big_Consulting_Firm_V2/labels_valid_original.txt", "r")

train_labels_list = train_labels_doc.read().splitlines()

valid_labels_list = valid_labels_doc.read().splitlines()

In [67]:
train_df = pd.DataFrame(
    {'article': train_list,
     'label': train_labels_list
    })

train_df

                                                article        label
0     the sign in front of the steepled church read ...         News
1     lindsey larsen a soprano and samuel ramey the ...  Classifieds
2     to the editor sylvia ann hewlett 's book creat...      Opinion
3     illinois tool works inc glenview ill a maker o...         News
4     to the editor robert schaeffer op ed feb 19 ex...      Opinion
...                                                 ...          ...
1995  to the editor re invective 's comeback by will...      Opinion
1996  a critic 's notebook article on aug 2 about th...     Features
1997  mike shanahan the winning coach in super bowls...         News
1998  dear diary at a recent performance of the full...  Classifieds
1999  for a half the jets had survived hanging close...         News

[2000 rows x 2 columns]

In [68]:
valid_df = pd.DataFrame(
    {'article': valid_list,
     'label': valid_labels_list
    })

valid_df

                                                article        label
0     to the editor re restructuring for security by...      Opinion
1     to the editor in small town gay america op ed ...      Opinion
2     don king the boxing promoter has stated that m...      Opinion
3     to the editor bill keller god and george w bus...      Opinion
4     andres rios stood in front of il monello and r...         News
...                                                 ...          ...
1995  there are plenty of lines in shakespeare 's wo...     Features
1996  to the editor sadly we appear as hypocrites to...      Opinion
1997  the baseball fates played a cruel joke on the ...         News
1998  under pressure from congress to explain lapses...  Classifieds
1999  the cops are not backing off not one bit never...         News

[2000 rows x 2 columns]